* {
    margin: 0;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* Header section */
.header {
    text-align: right;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 216px 230px 364px 845px;
}
.header h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.header p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    color: #FFFFFF;
    line-height: 26px;
}
.primary-btn {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    width: 160px;
    height: 64px;
}
/* Main Secction */
main {
    margin: 0 230px 130px;
}
.section-1 {
    display: flex;
    margin-bottom: 130px;
}
.failure {
    margin-top: 270px;
    margin-left: 87px;
    margin-right: 10px;
}
.section-title {
    font-weight: 800;
    font-size: 40px;
}
.section-1 p {

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
/* N.B.: I got this trick from ChatGPT to use tic mark in the list by asking him */
ul {
    list-style-type: none;
    padding-left: 5px;
    line-height: 26px;
}
li::before {
    content: "\2713";
    color: green;
    font-size: 2 em;
    margin-right: 5px;
}
.section-2 {
    text-align: center;
}
.plan-items {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.plan-items h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-top: 24px;
    margin-bottom: 16px;
}
.plan-items p {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
    margin-bottom: 136px;
}
.section-3 {
    background-image: url(../images/watch.png), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    background-blend-mode: overlay;
    border-radius: 8px;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
}
.section-3 h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding: 55px 500px 24px 64px;
}
.section-3 button {
    margin-left: 64px;
    margin-bottom: 69px;
}
/* Footer Section */
footer {
    display: flex;
    padding: 130px 230px;
    color: #FFFFFF;
    background-color: black;
    line-height: 26px;
}
img{
    margin: 8px;
}
.email {
    border: 1px solid white;
    border-radius: 8px;
    background-color: black;
    padding: 20px 21px;
    margin: 31px auto 31px;
    color: #FFFFFF;
}
.subscribe {
    margin-left: 50px;
}
.submit {
    color: #FFFFFF;
    background-color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px
}

/* The End */